<link rel="stylesheet" href="/style.css">
<form class="form">
    <input type="text" placeholder="Enter actors' names, separated by commas" name="actors"/>
    <input type="text" placeholder="Enter characters' names, separated by commas" name="characters"/>
    <button type="submit">Submit</button>
</form>