.casting-form {
    width: 50%;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
}

.form-row {
    display: flex;
    flex-flow: row nowrap;
    margin: 10px 0px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px;
}

.form-row label {
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 5px;
}

.form-row input {
    width: 90%;
    height: 40px;
    background: lightgray;
    border: none;
    color: black;
    border-radius: 10px;
    padding: 8px;
}

.form-row input:focus{
    outline: none;
}

.form-row button {
    background: black;
    color: white;
    border: none;
    min-width: 100%;
}

.cast-list {
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid black;
    padding: 8px;
    box-shadow: 8px 8px 5px 0px rgba(0,0,0,0.75);
    ;
}

.cast-list h4 {
    text-decoration: underline;
}

.casting {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}